/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/

.container1 {
    width: 100%;
    height: 1509px;
    display: grid;
    grid-template-areas: 
      "A B C C C D E F G H"
      "A I I I I D J J J H"
      "A K K K K D L L L H"
      "A M M M M D L L L H"	
	  "A N N O P D L L L H"
	  "A Q Q R S D L L L H"
	  "A T T T T D L L L H";
    grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10px;
    grid-template-rows: repeat(7, 1fr);
	row-gap: 0;
	column-gap: 0;

    &__areaA {
	    grid-area: A;
	    background-color: yellow;
    }

	&__areaB {
		grid-area: B;
		background-color: red;
	} 

	&__areaC {
		grid-area: C;
		background-color: aqua;
	}	

	&__areaD {
		grid-area: D;
		background-color: green;
	}

	&__areaE {
		grid-area: E;
		background-color: yellowgreen;
	}

	&__areaF { 
		grid-area: F;
		background-color: lightcoral;
	}

	&__areaG {
		grid-area: G;
		background-color: hotpink;
	}

	&__areaH {
		grid-area: H;
		background-color: darkgrey;
	}

	&__areaI {
		grid-area: I;
		background-color: forestgreen;
	}

	&__areaJ {
		grid-area: J;
		background-color: khaki;
	}

	&__areaK {
		grid-area: K;
		background-color: salmon;
	}

	&__areaL {
		grid-area: L;
		background-color: brown;
	}

	&__areaM {
		grid-area: M;
		background-color: orange;
	}

	&__areaN {
		grid-area: N;
		background-color: pink;
	}

	&__areaO {
		grid-area: O;
		background-color: blue;
	}

	&__areaP {
		grid-area: P;
		background-color: black;
	}

	&__areaQ {
		grid-area: Q;
		background-color: white;
	}

	&__areaR {
		grid-area: R;
		background-color: fuchsia;
	}

	&__areaS {
		grid-area: S;
		background-color: olivedrab;
	}

	&__areaT {
		grid-area: T;
		background-color: darkslategrey;
	}
}

/*body {
	position: relative;
}

@font-face {
    font-family: 'Gilroy Semibold';
    src: url('../../font/Gilroy-SemiBold.eot');
    src: url('../../font/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../font/Gilroy-SemiBold.woff') format('woff'),
    url('../../font/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@mixin button1() {
	background: #F2994A;
	box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
	border-radius: 3px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;			
}

@mixin button2() {
	border: 1px solid #F2994A;
	border-radius: 4px;
	background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
	color: #F2994A;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;		
}

.rectangle1 {
	position: absolute;
    width: 1440px;
    height: 1509px;
    left: 0px;
    top: 0px;
	background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
	border-style: solid;

	&__work1 {
		position: absolute;
		left: 330px;
		top: 613px;
		width: 380px;
		height: 44px;
		& p {
			font-family: 'Rubik';
			font-size: 16px;
    		line-height: 22px;
    		color: #6D6D78;
		}	
	}

	&__watch {
		position: absolute;
		left: 330px;
		top: 663px;
		width: 100px;
		height: 22px;
		& p {
			font-family: 'Rubik';
			font-size: 14px;
			line-height: 22px;
			color: #6D6D78;
		}	
	}

	&__video {
		position: absolute;
		width: 140px;
        height: 80px;
		left: 170px;
		top: 609px;
		background-color: #361C5D;
		& img {
          position: absolute;
		  left: 50px;
          top: 20px;
		}
		&:hover {
			cursor: pointer;
		}
	}

	&__learn {
		position: absolute;
		left: 170px;
		top: 503px;
		width: 157px;
		height: 46px;			
		@include button1();
		&:hover {
			cursor: pointer;
		}
	}

	&__demo {
		position: absolute;
		width: 157px;
		height: 46px;
		left: 347px;
		top: 503px;				
		@include button2();
		&:hover {
			cursor: pointer;			
		}
	}

	&__reasons {
		position: absolute;
		width: 531px;
		height: 150px;
		left: 170px;
		top: 250px;    
        & p{
	     	font-family: 'Inter', sans-serif;		
		    font-family: 'Inter';
		    font-style: normal;
			font-weight: 700;
			font-size: 44px;
			line-height: 50px;			
			color: #99EFD0;
	    }
	}

	&__work {
		position: absolute;
		left: 170px;
		top: 419px;
        width: 468px;
        height: 44px;
		& p {
			font-family: 'Gilroy Semibold';
 			font-size: 18px;
            line-height: 22px;
            color: #8476AA;
		}	
	}

	&__kiborg {
		position: absolute;
		width: 1440px;
		height: 1509px;
		left: 709.98px;
		top: 219.15px;
	}

	&__header {
		position: absolute;
        width: 1100px;
        height: 36px;
        left: 170px;
        top: 79px;
		&__signin {			
			position: absolute;
			width: 112px;
			height: 36px;
			left: 860px;
			top: 0;
			@include button2();	                 
			&:hover {
				cursor: pointer;				
			}
		}
		&__signup {
			position: absolute;
			width: 112px;
			height: 36px;
			left: 988px;
			top: 0;			
			@include button1();
			&:hover {
				cursor: pointer;
			}
		}
		&__group8 {
			position: absolute;
            width: 427px;
            height: 36px;
            left: 0;
            top: 0;
			& img {
				position: absolute;
                left: 0%;
				right: 0%;
				top: 0%;
				bottom: 0%;
                background: #F2994A;
			}
			&__menu {
				position: absolute;
                width: 347px;
                height: 20px;  
                right: 0px;
                top: 8px;
				font-family: 'Gilroy Semibold';
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #B5B5B5;
				& ul {
					display: flex;
					flex-direction: row;
					justify-items:flex-end;
					align-items: center;
					list-style-type: none;
					& li a {
					  color: #B5B5B5;
					  text-decoration: none;
					}
				} 
			}
		}
	}
}*/





