* {
    margin: 0;
    padding: 0;
    --w: 943.61px; 
    --h: 387px;
}

.photo {
    width: var(--w);
    height: var(--h);
}

.div1 {
    width: calc((100% - var(--w)) / 2);
    height: var(--h);
    background-color: aquamarine;
}

.div2 {
    width: var(--w);
    height: var(--h);
    background-color: yellowgreen;
}
.div3 {
    width: calc((100% - var(--w)) / 2);
    height: var(--h);
    background-color: pink;
}

.outdiv2{
    display: flex;
    flex-direction: row;
}

.outdiv1{
    width: 100%;
    height: 100px;
    background-color: orange;
}

.outdiv3{
    width: 100%;
    height: 800px;
    background-color: blueviolet;
}
